{# ===== GLOBAL FOOTER INCLUDE ===== #}
<footer id="footer" class="site-footer" role="contentinfo">
  <div class="footer-inner container text-center">
    <div class="footer-logo">
      <a href="/">
        <img src="/themes/custom/custom_bootstrap_sass/images/footer.png" alt="Logo" />
      </a>
    </div>
    <p>© 2025 Michelle Southerland-Frazer | All rights reserved.</p>
  </div>
</footer>
