<header class="site-header" role="banner">
  <div class="header-inner">

    <div class="site-logo">
      <a href="/">
        <img src="/themes/custom/custom_bootstrap_sass/images/portfo-logo-transparent.png" alt="Michelle Southerland-Frazer logo">
      </a>
    </div>

    <nav>
      <ul class="menu">
        <li><a href="/" class="">Home</a></li>
        <li><a href="/about-me">About Me</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
        <li class="is-active"><a href="/blog">Blog</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>

  </div>
</header>
