<section class="hero-section">
	<div class="hero-image left">
		<img src="/themes/custom/custom_bootstrap_sass/images/hero-photo.png" alt="Michelle Frazer">
	</div>

	<div class="hero-content">
		<h1>Hi, I'm
			<span class="highlight-name">Michelle Frazer.</span>
		</h1>
		<h2>A FE Web Developer.</h2>
		<p>Sitebuilder • Drupal Themer • Designer • 508 Compliance</p>
		<a href="#" class="btn-download">Download CV</a>
		<i class="fa-solid fa-download"></i>
	</div>>

	<nav class="vertical-nav">
		<ul>
			<li><a href="/home"><span>Home</span></a></li>
			<li><a href="/about"><span>About Me</span></a></li>
			<li><a href="/portfolio"><span>Portfolio</span></a></li>
			<li><a href="/blog"><span>Blog</span></a></li>
			<li><a href="/contact"><span>Contact</span></a></li>
		</ul>
	</nav>
</section>
